<div class="card" style="width:150px">
    <img class="card-img-top" src="images/1.jpg" alt="Card image" style="width:100%; height:100%;">
    <div class="card-body  text-center">
        <h4 class="card-title">Hoodie</h4>
        <p class="card-text">50$</p>
        <section class='rating-widget'>
        <div class='rating-stars text-center'>
            <ul id='stars'>
                <li class='star' title='Poor' data-value='1'>
                    <i class='fa fa-star fa-fw' style="width:50%; height:50%;"></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                    <i class='fa fa-star fa-fw' style="width:50%; height:50%;"></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                    <i class='fa fa-star fa-fw' style="width:50%; height:50%;"></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                    <i class='fa fa-star fa-fw' style="width:50%; height:50%;"></i>
                </li>
                <li class='star' title='WOW!!!' data-value='5'>
                    <i class='fa fa-star fa-fw' style="width:50%; height:50%;"></i>
                </li>
            </ul>
        </div>
        <div class='success-box'>
            <div class='clearfix'></div>
            <div class='text-message'></div>
            <div class='clearfix'></div>
        </div>
        </section>
        <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
</div>