extends layout

block content
  include ./partials/navbar1
  .container
    <h1 class="text-center">Seller</h1>
    include ./partials/navbar2
  <br/>
  <br/>
  .container
    <div class="row">
      <div class="col-sm-3">
        include ./partials/cards
      </div>
      <div class="col-sm-3">
        include ./partials/cards
      </div>
      <div class="col-sm-3">
        include ./partials/cards
      </div>
      <div class="col-sm-3">
        include ./partials/cards
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-3">
        include ./partials/cards
      </div>
      <div class="col-sm-3">
        include ./partials/cards
      </div>
      <div class="col-sm-3">
        include ./partials/cards
      </div>
      <div class="col-sm-3">
        include ./partials/cards
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-3">
        include ./partials/cards
      </div>
      <div class="col-sm-3">
        include ./partials/cards
      </div>
      <div class="col-sm-3">
        include ./partials/cards
      </div>
      <div class="col-sm-3">
        include ./partials/cards
      </div>
    </div>
    <br/>